<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!-- Este archivo contiene fragmentos de Thymeleaf para ser incluidos en otras plantillas. -->

<head>
    <meta charset="UTF-8">
</head>

<body>
    <!-- Sección de formulario de creación/edición de datos -->
    <section th:fragment="formularioDatos(operacion)">
        <h2>Este es el fragmento "formularioDatos"</h2>
        <p th:text="'Operacion = ' + ${operacion}"></p>
    </section>

    <!-- Sección de tabla de listado de datos -->
    <section th:fragment="tablaDatos(autos)" class="p-2 my-3">
        <h2 class="text-center">Listado de autos</h2>
        <h6 class="text-end">Total filas <span class="badge text-bg-warning" th:text="${autos.size()}">XX</span></h6>
        <table class="table table-hover table-bordered shadow-lg">
            <thead>
                <tr class="text-center">
                    <th class="text-bg-success">ID</th>
                    <th class="text-bg-success">Marca</th>
                    <th class="text-bg-success">Precio</th>
                    <th class="text-bg-success">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="auto : ${autos}" class="table-success">
                    <td class="text-center" th:text="${auto.id}"></td>
                    <td th:text="${auto.marca}"></td>
                    <td class="text-end" th:text="${auto.precioConFormato()}"></td>
                    <td class="text-center">
                        <h3>
                            <a href="#" class="badge bg-success" title="Editar">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a href="#" class="badge bg-danger" title="Borrar">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </h3>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

</body>

</html>