<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!-- Este archivo contiene fragmentos de Thymeleaf para ser incluidos en otras plantillas. -->

<head>
    <meta charset="UTF-8">
</head>

<body>
    <!-- Sección de formulario de creación/edición de datos -->
    <section th:fragment="formularioDatos(operacion)">
        <a th:href="@{/}" title="Volver al inicio" class="btn btn-secondary my-3">
            <i class="bi bi-arrow-left-circle"></i> Volver
        </a>

        <h2 th:text="${operacion == 'editar' ? 'Modificar auto' : 'Crear auto'}" class="text-bg-primary text-center py-3 mb-0"></h2>
        <form th:action="${'/autos/guardar/' + operacion}" method="post" class="bg-primary-subtle p-3" th:object="${autoDTO}">
            <input th:if="${operacion == 'editar'}" type="hidden" name="id" th:field="*{id}">
            <div class="mb-3">
               <label for="marca" class="form-label">Marca: </label>
               <input type="text" class="form-control" id="marca" name="marca" placeholder="Ej.: Ford" th:field="*{marca}" required>
            </div>
            <div class="mb-3">
               <label for="precio" class="form-label">Precio: </label>
               <input type="number" class="form-control" id="precio" name="precio" min="0" th:field="*{precio}" required>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="reset" class="btn btn-warning">Cancelar</button>
        </form>
    </section>

    <!-- Sección de tabla de listado de datos -->
    <section th:fragment="tablaDatos(autos)" class="p-2 my-3">
        <!-- Botón para crear datos -->
        <a href="/autos/nuevo" class="btn btn-success mt-3" title="Click para crear un nuevo auto">
            <i class="bi bi-plus-circle"></i> Crear auto
        </a>

        <h2 class="text-center">Listado de autos</h2>
        <h6 class="text-end">
            <span class="border border-2 border-success bg-light rounded-2 px-3 py-1">
                Total filas <span class="badge text-bg-warning" th:text="${autos.size()}">XX</span>
            </span>
        </h6>
        <table class="table table-hover table-bordered shadow-lg">
            <thead>
                <tr class="text-center">
                    <th class="text-bg-success">ID</th>
                    <th class="text-bg-success">Marca</th>
                    <th class="text-bg-success">Precio</th>
                    <th class="text-bg-success">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="auto : ${autos}" class="table-success">
                    <td class="text-center" th:text="${auto.id}"></td>
                    <td th:text="${auto.marca}"></td>
                    <td class="text-end" th:text="${auto.precioConFormato()}"></td>
                    <td class="text-center">
                        <h3>
                            <a th:href="${'/prueba/editar/' + auto.id}" class="badge bg-success" title="Editar">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a href="#" class="badge bg-danger" title="Borrar">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </h3>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

</body>

</html>