<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Práctico Nro. 4 Thymeleaf</title>
    <!-- Estilos Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Íconos Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body class="bg-warning-subtle">
    <header class="text-center p-5 text-bg-secondary mb-3">
        <h1>Trabajo Práctico Nro. 4 Thymeleaf</h1>
        <h6 class="text-dark">Tomar como base el proyecto del <strong>TPN2 JPA Hibernate</strong> y realizar las
            modificaciones necesarias para tener una
            vista basada en el motor de plantillas <strong>Thymeleaf</strong>. Se debe considerar la implementación de
            un <strong>CRUD</strong>.</h6>
    </header>
    <main class="container">
        <!-- Mensajes de éxito/error recibodos del servidor que se muestrar temporalmente -->
        <div th:if="${mensaje}"
            th:class="'toast-container p-3 top-50 start-50 translate-middle-x ' + ${tipoMensaje == 'ok' ? 'text-bg-success' : 'text-bg-danger'}"
            id="mensaje-servidor" 
            role="alert" 
            aria-live="assertive" 
            aria-atomic="true"
        >
            <div class="d-flex">
                <div class="toast-body" th:text="${mensaje}">
                    Texto de éxito/error
                </div>
                <button type="button" 
                    class="btn-close btn-close-white me-2 m-auto" 
                    data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>

        <!-- Botón abrir el modal de creacion de datos -->
        <a id="btn-crear-auto" 
            class="btn btn-primary"
            href="/autos/nuevo"
            title="Click para desplegar el panel de creación de autos">
            <h4>Crear auto</h4>
        </a>

        <!-- Tabla de muestreo de datos -->
        <section id="sec-mostrar-datos" class="w-75 mx-auto">
            <h2>Listado de autos</h2>
            <div th:if="${autos != null and not autos.isEmpty()}" class="table-responsive">
                <table id="tabla-autos" class="table table-bordered table-hover shadow"
                    style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th>ID</th>
                            <th>Marca</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="table-success">
                        <tr th:each="auto : ${autos}">
                            <td class="text-center" th:text="${auto.id}"></td>
                            <td th:text="${auto.marca}"></td>
                            <td class="text-end" th:text="${auto.precioConFormato()}"></td>
                            <td class="text-center">
                                <a class="btn btn-success" 
                                    title="Click para editar este registro"
                                    th:onclick="'abrirModal(' + ${auto.id} + ')'">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn btn-danger" title="Click para borrar este registro"
                                    th:onclick="'borrarRegistro(' + ${auto.id} + ')'">
                                    <i class="bi bi-trash3-fill"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="table-secondary">
                        <tr class="text-end">
                            <td th:if="${totalRegistros == 1}" colspan="4">Se recuperó <strong>1</strong> registros</td>
                            <td th:if="${totalRegistros > 1}" colspan="4">Se recuperaron <strong
                                    th:text="${totalRegistros}"></strong> registros</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div th:unless="${autos != null and not autos.isEmpty()}">
                <div class="alert alert-secondary" role="alert">
                    <h4 class="text-center">Aún no se han cargado autos</h4>
                </div>
            </div>
        </section>

    </main>

    <footer class="container border border-1 border-dark rounded-3 p-3 my-3 bg-light shadow-lg">
        <h6>
            Este es el trabajo práctico N° 4 del curso <strong>Diseño de Aplicaciónes Web</strong>
            que forma parte del
            <strong>Trayecto "Especialización Profesional en Programación Web"</strong>
            del Centro de Formación Profesional N°8: SMATA (<a href="https://centro8smata.org.ar/" target="_blank"
                title="Click para abrir la página en una nueva pestaña">CFP8</a>)
        </h6>
    </footer>

    <!-- Rutinas Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <!-- Mis rutinas -->
    <script src="/js/rutinas.js"></script>
</body>

</html>