<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="contenido">
    <div class="card shadow mb-4">
        <div class="card-header bg-info text-white">
            <h2 th:text="${tituloVista}">Listado de Asistencias</h2>
        </div>
        <div class="card-body">
            <a th:href="@{/}" class="btn btn-outline-secondary">
                Volver al Inicio
            </a>
            <hr/>

            <div th:if="${listaNotas.isEmpty()}" class="alert alert-warning" role="alert">
                No hay registros de notas disponibles.
            </div>

            <div th:unless="${listaNotas.isEmpty()}">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID Boletin</th>
                            <th>Año</th>
                            <th>Asignatura</th>
                            <th>Bimestre</th>
                            <th>Nota</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="nota : ${listaNotas}">
                            <td th:text="${nota.id}">1</td>
                            <td th:text="${nota.anio}">2025</td>
                            <td th:text="${nota.asignatura}">Lengua</td>
                            <td th:text="${nota.bimestre}">1</td>
                            <td th:text="${nota.nota}">10</td>
                            <td th:text="${nota.estudiante.nombre} + ' ' + ${nota.estudiante.apellido}">Nombre Estudiante</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>